div#wrapper
  each track in playlist
    div.track
      p.date= track['date']
      p.name= track['name']
      div.artists
        each artist in track['artists']
          p.artist= artist
      p.album= track['album']

      